# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
.terraform.lock.hcl

# Kubernetes
kubeconfig

# Environment files
.env

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Python Virtual Environment
app/.venv/
.venv/
venv/